@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

:root {
}

html,
body {
  @apply h-full overflow-hidden;
}
body {
}

.bg-translucent-blur {
  background-color: var(--translucent-bg);
  backdrop-filter: blur(10px);
}
/* rocket theme */
@font-face {
  font-family: 'Space Grotesk';
  src: url('/fonts/SpaceGrotesk.ttf');
  font-display: swap;
}
